<mat-card class="container">
    <div class="search" >
      <form class="search-form" >

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
            <input matInput placeholder="label" value="Nadia">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Numero</mat-label>
              <input matInput placeholder="label" value="Nadia">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Sesiones</mat-label>
              <input matInput placeholder="label" value="Nadia">
          </mat-form-field>
      </form>
    </div>
  </mat-card>
  
