.container {
    margin: .5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 400px;
    padding: 2rem;
}

.search-form {
    width: 100%;
}

.search-form {
}